__pycache__/
*.pyc
a/
stihl/
icons_for_catalog/
venv/
db.sqlite3
.vscode/
.idea/
Procfile
runtime.txt
import.xlsx
staticfiles/
.env
docker-compose.yml
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir