/* Fonts */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

/* Style */


/* WOW */

.wow {
    visibility: hidden;
}

/* WOW */


.carousel-main {
    height: 650px;
    margin-top: 0px !important;
    position: relative;
}

body {
    font-family: 'Montserrat-Regular';
}

body {
    background-color: rgba(232, 232, 232, 95);
    overflow-x: hidden;
}

.navbar {
    z-index: 4000;
}

.page {
    min-height: 100vh;
}

.breadcrumb {
    background-color: inherit;
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-black {
    background-color: rgb(0, 0, 0) !important;
}

.navbar a {
    color: lavender;
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
}

.navbar-toggler-icon {
    background-color: lavender;
    height: 2px;
    margin: 2.5px 0px;
}

.carousel-main .carousel-inner {
    height: inherit;
}

.carousel-main .carousel-inner .carousel-item {
    height: inherit;
}

.carousel-main .carousel-inner .carousel-item img {
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: brightness(75%) saturate(90%);
}

.carousel-main .carousel-inner .carousel-item:first-child img {
    object-position: center;
}

.carousel-main .carousel-inner .carousel-item img {
    object-position: top;
}

.carousel-main .carousel-inner .carousel-item:last-child img {
    object-position: top;
}

.list-group-item:last-child {
    border: 0 !important;
}

li .border-bottom {
    border-bottom: 1px solid #868282b5 !important
}

.list-group {
    box-shadow: none;
    background-color: inherit;
}

.list-group li {
    background-color: inherit;
}

.list-group li a {
    background-color: inherit;
}

.catalog {
    /* background-color: #d0d0d0; */
}

.list-group-link {
    color: black;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.list-group-link:hover {
    color: rgba(0, 0, 0, 0.45);
}

.filter-params {
    background-color: white;
    position: absolute;
    z-index: 2000;
    height: 900px;
    overflow-y: scroll;
    right: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease-in-out, opacity 0.2s ease;
    transform-origin: 200px 0;
}

.filter-button,
.sort-button {
    font-family: 'Montserrat-Regular';
    user-select: none;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

.filter-button:hover,
.sort-button:hover {
    color: rgba(0, 0, 0, 0.50);
}

.input-group-text {
    font-size: 14px;
    padding: 0 5px;
}

.hidden-panel {
    transform: scale(0);
    opacity: 0;
}

.jumbotron-carousel {
    z-index: 1;
    background-color: transparent;
    color: lavender;
    /* padding: 15%; */
    width: 100%;
    height: 100%;
    margin: 0;
}

.container-jumbotron {
    max-width: 800px;
    margin: auto auto;
}

.dropdown-menu {
    right: 0 !important;
    left: auto;
}

.col-blogs {
    text-indent: 20px;
}

.other-page {
    padding-top: 140px;
}

.carousel-product-item .carousel-inner .carousel-item img {
    object-fit: contain;
    object-position: center;
    height: 340px;
}

.no-photo-placeholder {
    height: 120px !important;
    width: 100% !important;
    padding: 15px;
}

.slick-dots li {
    list-style-type: none;
}

.cart-product {
    color: #495057;
}

.most-popular-product .slick-slide {
    height: auto !important;
}

.img-popular-item {
    width: 100%;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
}

.popular-item {
    width: 33.333%;
}

.most-popular-product .slick-track {
    display: flex !important;
    align-items: stretch;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 3px;
    margin: 0 4px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: black;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.slick-dots .slick-active button {
    background-color: rgba(0, 0, 0, 0.384);
}

.slick-dots {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.card-desc ul {
    padding-left: 20px;
}

.blog-body p {
    text-indent: 25px;
}

.blog-body img {
    margin: 15px;
}

.children-category {
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
}

.parent-category {
    transition: all 0.4s ease-in-out;
}

.parent-category:hover .children-category {
    position: relative;
    opacity: 1;
    transform: scale(1);
    background: #e8e8e8;
}

.blog .blog-info {
    margin: 10px 0px;
}

.most-popular-product {
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.order-form-group-field{
    width: 50%;
}

.slick-arrow-custom {
    background: transparent;
    border: 0;
    font-size: 12px;
    position: absolute;
}

.left-arrow-most-popular {
    left: 0;
    bottom: 50%;
    top: auto;
    transform: translate(50%, 50%);
}

.right-arrow-most-popular {
    right: 0;
    bottom: 50%;
    top: auto;
    transform: translate(-50%, 50%);
}

.navbar-brand-footer-img{
    width: 350px;
}

.slick-arrow-custom i {
    transition: all 0.4s ease-in-out;
    font-size: 30px;
}

.slick-arrow-custom i:hover {
    color: gray;
}

/* .number-input {
    border: 1px solid #ced4da;
    width: 8.6rem;
    border-radius: .25rem;
}
.number-input button {
    width: 2.5rem;
    height: .7rem;
}
.number-input input[type=number] {
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}
.minus {
    padding-left: 10px;
}

.skin-light .number-input.number-input button {
    width: 2.5rem;
    height: .7rem;
}
.skin-light .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before, .number-input button:after {
    width: .7rem;
    background-color: #495057;
}
.number-input button:before, .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
 */

.row{
    margin: 0 auto;
}

[type=number]::-webkit-outer-spin-button,
[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type=number] {
    -moz-appearance: textfield;
}


.cart-control-quantity {
    height: 2rem;
    width: 1.5rem;
    border: 0px;
    background-color: #ffffff;
}

.cart-control-quantity {
    font-size: 1.2rem;
    text-align: center;
    color: #495057;
}

.cart-control-quantity-plus {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.cart-control-quantity-minus {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.quantity {
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    z-index: 3000;
    color: #495057;
}

.retweet-button-show-active {
    transform: translateY(2rem);
}

.quantity:hover~.retweet-button-show,
.retweet-button-show:hover {
    transform: translateY(2rem);
}

.cart-control-quantity:focus~.cart-input-field>.retweet-button-show {
    transform: translateY(2rem);
}

.stars {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star {
    position: absolute;
    left: -9999px;
    clip: rect(0, 0, 0, 0);
}

.stars label {
    display: inline-block;
}

.stars label i {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.stars>label:hover,
.stars>label:hover~label {
    color: gold;
}

.stars>input:checked~label {
    color: gold;
}

.image-cart-item {
    transition: all 0.4s ease-in-out;
    height: 106px;
    object-fit: cover;
}

.image-cart-item:hover {
    object-fit: contain;
}

#panel_sort {
    right: auto;
    left: auto;
    transform: translate(-20%, 0)
}

.star-rating {
    width: 15px;
    height: 15px;
}

.star-rating>svg {
    fill: gold;
}

.dsbl {
    color: gray !important;
    pointer-events: none !important;
    cursor: default !important;
}

.hide-attr-filter {
    height: 100%;
    transition: all 0.2s ease;
}

#category-toggle {
    /* height: 0; */
    overflow: hidden;
}

.django-ckeditor-widget {
    width: 100%;
}

.card-img-about-us {
    width: 110px;
    height: 110px;
    align-self: center;
}

.like-product {
    font-size: 22px !important;
    color: red;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.link-like-product {
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 1000;
}

.like-product:hover {
    transform: scale(1.2);
}

.main-title-cont{
    padding: 0 30px;
}

@media screen and (max-width: 1200px) {
    .user-nickname {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    .main-title-cont-p{
        font-size: 18px!important;
    }

    .main-title-cont-h{
        font-size: 45px!important;
    }

    .navbar-info-header {
        display: none!important;
    }

    .product-form-add{
        justify-content: space-between;
        margin-top: 10px;
        display: flex!important;
        width: 100%;
    }
}

@media screen and (max-width: 970px) {
    .user-nickname {
        display: inline;
    }
}

@media screen and (max-width: 568px) {
    .main-title-cont-p{
        font-size: 15px!important;
    }

    .other-page{
        padding-top: 30px;
    }

    .image-cart-item{
        object-fit: contain;
    }

    .main-title-cont-h{
        font-size: 35px!important;
    }

    .navbar-main-header .navbar-brand img{
        width: 200px!important;
    }

    .order-form-group{
        flex-direction: column;
    }

    .order-form-group-field{
        width: 100%!important;
    }

    .order-table{
        font-size: 9px!important;
    }
    .StripeElement{
        width: 250px!important;
    }
}

@media screen and (max-width: 480px) {

    .other-page{
        padding-top: 100px;
    }

    .right-arrow-most-popular,
    .left-arrow-most-popular {
        display: none
    }

    .form-row {
        flex-direction: column;
    }

    .most-popular-slider-container{
        margin: 1rem 0!important;
        padding: 0!important;
    }

    .popular-item {
        width: 100%important;
    }
}

@media screen and (max-width: 480px) {
    .main-title-cont-p{
        font-size: 14px!important;
    }

    .main-title-cont-h{
        font-size: 20px!important;
    }

    .navbar-main-header{
        flex-direction: column;
        justify-content: center;
    }

    .navbar-brand-footer-img{
        width: 100%!important;
    }
    
    .navbar-main-header .navbar-brand img{
        width: 100%!important;
    }

    .navbar-main-header .navbar-brand{
        margin-bottom: 10px;
    }

}