{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}

{% include 'header.html' %}

{% endblock %}

{% block override_container %} other-page {% endblock %}

{% block sidebar-base %}

{% include 'sidebar.html' %}

{% endblock %}

{% block content-base %}

<div class="col-lg-9">

    <div class="w-100 d-flex justify-content-between my-4 align-items-center">
        <nav aria-label="breadcrumb">
            {% block breadcrumbs %}
            <ol class="breadcrumb m-0">
                {% load i18n %}
                <li class="breadcrumb-item">
                    <a href="{% url 'home'%}">{% trans 'Home'%}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="dsbl">Блог компании</a>
                </li>
            </ol>
            {% endblock %}
        </nav>
        <div class="filter-container">
            
        </div>
    </div>

    <hr>

    <div class="row" id="content">

        {% block content %}
        {% include 'list-blogservice.html' %}
        {% endblock %}

    </div>
    {% include 'pagination.html' %}

</div>

{% endblock %}